{% extends 'UploadBundle:Default:layout.html.twig' %}

{% block jsFile %}
	<script type="text/javascript" src="{{ asset('bundles/framework/js/jquery-2.2.0.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/framework/js/jquery.serializeToJSON.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/framework/js/formValidation.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/framework/js/formProfil.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/framework/js/eventProfil.js') }}"></script>
	
{% endblock %}

{% block body %}
<div id="boxProfil">
	<div id="boxBtnAdd"><button id="btnAdd" class="btn"><i class="fa fa-plus"></i>NEW PROFIL</button></div>
	<input type="hidden" id="baseUrl" value="{{ baseUrl }}"/>
	<input type="hidden" id="actionForm" value=""/>
	<input type="hidden" id="idProfil" value=""/>
	<div id="profilContain">
		<div id="boxTable">
			{% if profils is defined %}
	        	{% if profils|length > 0 %}
					<table id="tableProfil">
						<thead>
							<th>FIRSTNAME</th>
							<th>LASTNAME</th>
							<th>GENDER</th>
							<th>MAIL</th>
							<th>ACTIONS</th>
						</thead>
						<tbody>
							{% for profil in profils %}
	                            <tr>
	                            	<td id="firstname_{{profil.id}}">{{profil.firstname}}</td>
	                            	<td id="lastname_{{profil.id}}">{{profil.lastname}}</td>
	                            	<td id="gender_{{profil.id}}">{{profil.gender}}</td>
	                            	<td id="mail_{{profil.id}}">{{profil.mail}}</td>
	                            	<td>
	                            		<button class="btn btnAction btnEdit" id="btnEdit_{{profil.id}}"><i class="fa fa-pencil"></i>EDIT</button>
	                            		<button class="btn btnAction btnDelete" id="btnDelete_{{profil.id}}"><i class="fa fa-trash"></i>DELETE</button>
	                            	</td>
	                            </tr>
	                        {% endfor %}
						</tbody>
					</table>
				{% else %}
					<div id="emptyTxt"><i class="fa fa-exclamation-triangle"></i>EMPTY LIST</div>
				{% endif %}		
	      	{% endif %}
		</div>
		<div id="boxForm">
			<div id="boxFormProfil"></div>
		</div>
		<div class="clearBox"></div>
	</div>
	<div class="clearBox"></div>
</div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('bundles/framework/js/eventProfil.js') }}"></script>
	<script type="text/javascript">
		$(document).ready(function(){

			eventProfil.init();

		});	
	</script>
{% endblock %}