html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: Arial;
	font-size: 12px;
	background: #ecebeb;
}


/* CONTAINER */

#container{
	width: 100%;
}

/* HEADER*/ 

#boxHeader{
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	color: #fff;
	font-weight: bold;
	font-size: 15px;
	background: #139de1;
}

/* NAVIGATION */ 

#boxNavigation{
	width: 100%;
	height: 35px;
	padding: 0;
	margin: 0;
	background: #423f3f;
}

#boxNavigation ul{
	display: block;
	margin: 0;
	padding: 0;
}

#boxNavigation ul li{
	display: block;
	float: left;
	width: 130px;
	height: 35px;
	list-style: none;
}

#boxNavigation ul li a i{
	margin-right: 10px;
	font-size: 17px;
	color: #fff;
}

#boxNavigation ul li a{
	display: inline-block;
	text-decoration: none;
	font-size: 17px;
	width: 130px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-weight: bold;
	color: #fff;
}

#boxNavigation ul li a:hover{
	background: #000;
}

/* CONTAIN */

#boxBody{
	display: table;
	margin: 0 auto;
	width: 80%;
	padding: 20px;
}

#contain{
	width: 100%;
}

/* BOX PROFIL */

#boxProfil{
	width: 100%;
}

#profilContain{
	width: 100%;
}

#boxBtnAdd{
	margin-bottom: 10px;
}

#boxTable{
	float: left;
	width: auto;
}

#boxForm{
	float: right;
	width: 40%;
}

/* TABLE */

#tableProfil{
	border-collapse : collapse;
}

#tableProfil th, td{
	padding: 5px;
}

#tableProfil th{
	color: #fff;
	background: #4285f4;
	border: none;
}

#tableProfil tbody tr{
	background: #fff;
}

#tableProfil tbody tr:nth-child(odd){
	background: #c8c8c8;
}

#tableProfil tbody tr td{
	border: none;
}

#tableProfil .tdInput{
	width: 100%;
}

#tableProfil .tdLabel{
	width: 1%;
}

/* FORM */

#boxFormProfil{
	width: 100%;
	background:#c8c8c8;
}

#titleForm{
	padding: 5px;
	font-weight: bold;
	color: #fff;
	background: #4285f4;
}

#formProfil{ 
	display: block;
	width: 100%;
}

#formProfil table{
	width: 100%;
}

#formProfil table .tdRadio label{
	font-weight: normal;
	height: 31px; 
	line-height: 31px;
}

label{
	font-weight: bold;
}

.inputForm{
	padding: 0 5px;
	width: 60%;
	height: 20px;
}

.inputCheck{
	color: #ff0000;
}

.clearBox{
	clear: both;
}

.btnEdit{
	margin-left: 5px;
}

/* BUTTON */

.btn{
	cursor: pointer;	
}

/* ICON FONT */

.fa{
	margin-right: 5px;
}

/* EMPTY LIST ALERT */

#emptyTxt{
	font-weight: bold;
	font-size: 17px;
}