{% extends 'UploadBundle:Default:layout.html.twig' %}

{% block body %}
	<div id="boxUpload">
		{{ form(form) }}
	</div>
	<div id="boxError">
		{% if error %}
		    <ul>
		        {% for errorMessage in error %}
		            <li>{{ errorMessage }}</li>
		        {% endfor %}
		    </ul>
		{% endif %}
	</div>
{% endblock %}

{% block javascripts %}{% endblock %}

