<div id="titleForm"></div>
<form id="formProfil" action="#">
	<table id="formProfilTable">
		<tr>
			<td class="tdLabel"><label for="firstname">Firstname</label></td>
			<td class="tdInput"><input type="text" class="inputForm" id="inputFirstname" name="firstname" value=""/></td>
		</tr>
		<tr>
			<td></td>
			<td><div class="inputCheck" id="checkFirstname"></div></td>
		</tr>
		<tr>
			<td class="tdLabel"><label for="lastname">Lastname</label></td>
			<td class="tdInput"><input type="text" class="inputForm" id="inputLastname" name="lastname" value=""/></td>
		</tr>
		<tr>
			<td></td>
			<td><div class="inputCheck" id="checkLastname"></div></td>
		</tr>
		<tr>
			<td class="tdLabel"><label for="lastname">Gender</label></td>
			<td class="tdInput tdRadio">
				<input type="radio" class="inputGender" id="inputGenderMale" name="gender" value="male" /><label for="male">Male</label>
				&nbsp;<input type="radio" class="inputGender" id="inputGenderFemale" name="gender" value="female" /><label for="female">Female</label>
			</td>
		</tr>
		<tr>
			<td></td>
			<td><div class="inputCheck" id="checkGender"></div></td>
		</tr>
		<tr>
			<td class="tdLabel"><label for="mail">Mail</label></td>
			<td class="tdInput"><input type="text" class="inputForm" id="inputMail" name="mail" value=""/></td>
		</tr>
		<tr>
			<td></td>
			<td><div class="inputCheck" id="checkMail"></div></td>
		</tr>
		<tr>
			<td></td>
			<td id="boxBtnTable">
				<button id="btnCancel">CANCEL</button>&nbsp;
				<button id="btnSubmit">SUBMIT</button>
			</td>
		</tr>
	</table>
</form>