<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ titlePage }}{% endblock %}</title>
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">-->
        <link href="{{ asset('bundles/framework/font-awesome-4.5.0/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/framework/css/styles.css') }}" rel="stylesheet" type="text/css" />
        {% block stylesheets %}{% endblock %}
        {% block jsFile %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="container">
            <div id="boxHeader">{{ titleHeader }}</div>
            <div id="boxNavigation">
                    <ul id="boxLi">
                        <li><a href="{{ url('upload_profilListPage') }}"><i class="fa fa-table"></i>LIST</a></li>
                        <li><a href="{{ url('upload_formPage') }}"><i class="fa fa-upload"></i>UPLOAD</a></li>
                        <div class="clearBox"></div>
                    </ul>
            </div>
            <div id="boxBody">
                <div id="boxContain">
                    <div id="boxFlashMessage">
                        {% if app.session.flashbag.get('errorList') is defined %}
                            {% if app.session.flashbag.get('errorList')|length > 0 %}
                                <ul>
                                    {% for flashMessage in app.session.flashbag.get('errorList') %}
                                        <li>{{ flashMessage }}</li>
                                    {% endfor %}
                                </ul>   
                            {% endif %}
                        {% endif %}
                    </div>
                    <div id="contain">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
            {% block javascripts %}{% endblock %}
    </body>
</html>